<% include ../header %>
    <h1>Add new</h1>
    <form method= "post" action= "/posts/create">
    <input type="text" name="title">
    <input type="text" name="body">
    <input type="submit" value="add!">
    </form>
    
    <p><a href="/">Go back!</a></p>
<% include ../footer %>